

.formul{
        display: flex;
    }
    
 #tilbudDIV {
  width: 40%;
  text-align: left;
  padding: 50px 0 0 50px;
  margin: 0 50px 20px 0px;
  display: none ;
}
#tilbudDIV  input{
    width: 80% !important;
    margin-bottom: 20px;

}

#tilbudDIV input[type="submit"]{
       background-color: #0092D1;

}
    #bestilDIV {
  width: 40%;
  padding: 50px 0;
  margin: 0 0px 20px 50px;
  display: none ;
}
#bestilDIV input{
    
    width: 80% !important;
    margin-bottom: 20px;

}

#bestilDIV input[type="submit"]{
       background-color: #0092D1;

}
#bestilDIV #person1{
    width: 20px !important;
}

.beregn{
    
    font-size: 20px;
    margin: 50px 0px 30px 150px;
}

.beregn h1{
    font-size: 30px;
     margin-bottom: 30px;
}
.beregn p{
    
    font-size: 20px;
}

.beregn label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    
}
.beregn textarea{
        margin-bottom: 30px;
    width: 30%;
          font-size: 17px;

}

.beregn input{
        width: 10% !important;
      font-size: 17px;
}
.beregn input[type="submit"]{
       background-color: #0092D1 !important;

}

.beregn select{
    width: 200px !important;
      font-size: 17px;
}
.beregn form button{
       background-color: #0092D1 !important;
}
.beregn button:not(.toggle){
       background-color: #0092D1 !important;
}
